tensorflow==2.14.0
pillow~=10.2.0
ipython~=8.22.2
pip~=23.0.1
wheel~=0.42.0
rsa~=4.9
pyasn1~=0.5.1
colorama~=0.4.6
typing_extensions~=4.10.0
setuptools~=65.5.0
traitlets~=5.14.2
numpy~=1.26.4
gast~=0.4.0
h5py~=3.10.0
parso~=0.8.3
jedi~=0.19.1
Pygments~=2.17.2
certifi~=2024.2.2
requests~=2.31.0
packaging~=23.2
pytz~=2024.1
tensorflow-gpu~=2.10.0
keras~=2.10.0
wrapt~=1.16.0
exceptiongroup~=1.2.0
python-dateutil~=2.9.0.post0
pywin32~=306
six~=1.16.0
pandas~=2.2.1
matplotlib~=3.8.3
appdirs~=1.4.4
decorator~=5.1.1
cachetools~=5.3.3
urllib3~=2.2.1
MarkupSafe~=2.1.5
pyarrow~=15.0.1
pynput~=1.7.6
wcwidth~=0.2.13
Markdown~=3.5.2
flatbuffers~=24.3.6
oauthlib~=3.2.2
idna~=3.6
Werkzeug~=3.0.1
asttokens~=2.4.1
contourpy~=1.2.0
executing~=2.0.1
fonttools~=4.50.0
PyQt5~=5.15.10
pyparsing~=3.1.2
termcolor~=2.4.0
cycler~=0.12.1
kiwisolver~=1.4.5
tensorboard~=2.10.1
astunparse~=1.6.3
pandasgui~=0.2.14
tqdm~=4.66.2